# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
langchain_env/
venv/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Local development settings
.env
*.log

# MongoDB
data/

# Chroma
chroma_db/

# Documents
documents/
documents_done/
